
.namedImgs {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  margin: 15px;
}

.namedImgs:hover {
  cursor: pointer;
}

#main-column {
  text-align: center;

}

body {
  background-image: url(./newBackground.png);
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#home, #message, #score {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navbar {
  border-bottom: 2px solid gray;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
}

#home {
  padding: 10px;
}

ul {
  margin: 0px;
  width: 100%;
}


body {
  margin: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #edeaef;
  padding: 85px 60px 20px 60px;
  text-align: center;
  font-size: 10px;
  font-family: "Gill Sans", sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  color: #f2f2f2;
}

#navbar a:hover {
  color: lightgray;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#home {
  margin-right: 15%;
}

#message {
  margin: 0% 13% 0% 13%;
}

#score {
  margin-left: 10%;
}
